.navigation {
  background-color: white;
  border-bottom: 1px solid grey;
}

.nav-link {
  text-decoration: none;
  padding: 1em;
  color: black;
}

.nav-link.active {
  font-weight: bold;
  color: black;
}

.signedOut {
  display: "flex";
  flex-direction: "row";
  text-decoration: "none";
  color: "black";
}
