<<<<<<< HEAD:frontend/src/companies/CompanyCard.css
.CompanyCard {
=======
.Company {
  display: block;
>>>>>>> a7023dd81d1aa64778333dd3b86ea23c3f495f86:frontend/src/companies/Company.css
  max-height: 250px;
  max-width: 75%;
  margin: 1rem;
  color: inherit;
  border-radius: 0;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.CompanyCard img {
  width: 50px;
}

<<<<<<< HEAD:frontend/src/companies/CompanyCard.css
.CompanyCard:hover { /* <Card /> that is also <Link /> */
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
=======
.Company:hover {
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

p {
  font-size: 16px;
}
>>>>>>> a7023dd81d1aa64778333dd3b86ea23c3f495f86:frontend/src/companies/Company.css
